USE [master]
GO
/****** Object:  Database [almacen]    Script Date: 12/10/2025 11:09:09 p. m. ******/
CREATE DATABASE [almacen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'almacen', FILENAME = N'C:\Users\A123d\almacen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'almacen_log', FILENAME = N'C:\Users\A123d\almacen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [almacen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [almacen]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[stock] [int] NOT NULL,
	[subcategoria_id] [int] NOT NULL,
	[ubicacion_id] [int] NOT NULL,
	[marca] [nvarchar](100) NULL,
	[modelo] [nvarchar](100) NULL,
	[medidas] [nvarchar](100) NULL,
	[capacidad] [nvarchar](100) NULL,
	[caracteristica_extra] [nvarchar](100) NULL,
 CONSTRAINT [PK_articulos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nchar](100) NOT NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estantes]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estantes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_estantes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id] [int] NOT NULL,
	[tipo] [bit] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[cantidad] [int] NOT NULL,
	[articulo_id] [int] IDENTITY(1,1) NOT NULL,
	[ubicacion_id] [int] NOT NULL,
 CONSTRAINT [PK_movimientos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secciones]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_secciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subcategoria]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcategoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[categoria_id] [int] NULL,
 CONSTRAINT [PK__subcateg__3213E83FBB250BE2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicacion]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[seccion_id] [int] NOT NULL,
	[estante_id] [int] NOT NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_ubicacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_subcategoria_articulos] FOREIGN KEY([subcategoria_id])
REFERENCES [dbo].[subcategoria] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_subcategoria_articulos]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_ubicacion_articulos] FOREIGN KEY([ubicacion_id])
REFERENCES [dbo].[ubicacion] ([id])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_ubicacion_articulos]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_articulo_movimientos] FOREIGN KEY([articulo_id])
REFERENCES [dbo].[articulos] ([id])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_articulo_movimientos]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_ubicacion_movimiento] FOREIGN KEY([id])
REFERENCES [dbo].[ubicacion] ([id])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_ubicacion_movimiento]
GO
ALTER TABLE [dbo].[subcategoria]  WITH CHECK ADD  CONSTRAINT [FK_categoria_subcategoria] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categoria] ([id])
GO
ALTER TABLE [dbo].[subcategoria] CHECK CONSTRAINT [FK_categoria_subcategoria]
GO
ALTER TABLE [dbo].[ubicacion]  WITH CHECK ADD  CONSTRAINT [FK_estante_ubicacion] FOREIGN KEY([estante_id])
REFERENCES [dbo].[estantes] ([id])
GO
ALTER TABLE [dbo].[ubicacion] CHECK CONSTRAINT [FK_estante_ubicacion]
GO
ALTER TABLE [dbo].[ubicacion]  WITH CHECK ADD  CONSTRAINT [FK_seccion_ubicacion] FOREIGN KEY([seccion_id])
REFERENCES [dbo].[secciones] ([id])
GO
ALTER TABLE [dbo].[ubicacion] CHECK CONSTRAINT [FK_seccion_ubicacion]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarArticulo]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarArticulo]
    @Id INT,
    @Nombre NVARCHAR(100),
    @SubcategoriaId INT,
    @UbicacionId INT,
    @Marca NVARCHAR(100) = NULL,
    @Modelo NVARCHAR(100) = NULL,
    @Medidas NVARCHAR(100) = NULL,
    @Capacidad NVARCHAR(100) = NULL,
    @CaracteristicaExtra NVARCHAR(200) = NULL
AS
BEGIN
    UPDATE Articulos
    SET Nombre = @Nombre,
        subcategoria_id = @SubcategoriaId,
        ubicacion_id = @UbicacionId,
        Marca = @Marca,
        Modelo = @Modelo,
        Medidas = @Medidas,
        Capacidad = @Capacidad,
        caracteristica_extra = @CaracteristicaExtra
    WHERE id = @Id

    SELECT * FROM Articulos WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStock]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStock]
    @ArticuloId INT,
    @CantidadCambio INT
AS
BEGIN
    DECLARE @StockActual INT
    SELECT @StockActual = Stock FROM Articulos WHERE id = @ArticuloId

    DECLARE @NuevoStock INT = @StockActual + @CantidadCambio
    IF @NuevoStock < 0 SET @NuevoStock = 0

    UPDATE Articulos SET Stock = @NuevoStock WHERE id = @ArticuloId

    SELECT * FROM Articulos WHERE id = @ArticuloId
END

GO
/****** Object:  StoredProcedure [dbo].[BuscarArticulos]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarArticulos]
    @Nombre NVARCHAR(100) = NULL,
    @IdCategoria INT = NULL,
    @IdSubcategoria INT = NULL
AS
BEGIN
    SELECT * FROM Articulos
    WHERE (@Nombre IS NULL OR Nombre LIKE '%' + @Nombre + '%')
      AND (@IdSubcategoria IS NULL OR subcategoria_id = @IdSubcategoria)
      AND (@IdCategoria IS NULL OR subcategoria_id IN (
          SELECT Id FROM Subcategoria WHERE categoria_id = @IdCategoria
      ))
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUbicacion]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUbicacion]
    @Id INT = NULL,
    @SeccionId INT = NULL,
    @EstanteId INT = NULL
AS
BEGIN
    SELECT * FROM Ubicacion
    WHERE (@Id IS NULL OR Id = @Id)
      AND (@SeccionId IS NULL OR Seccion_Id = @SeccionId)
      AND (@EstanteId IS NULL OR Estante_Id = @EstanteId)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUbicacion]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearUbicacion]
    @SeccionId INT,
    @EstanteId INT,
    @Descripcion NVARCHAR(200)
AS
BEGIN
    INSERT INTO Ubicacion (Seccion_Id, Estante_Id, Descripcion)
    OUTPUT INSERTED.Id
    VALUES (@SeccionId, @EstanteId, @Descripcion)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarArticulo]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarArticulo]
    @Nombre NVARCHAR(100),
    @Stock INT,
    @SubcategoriaId INT,
    @UbicacionId INT,
    @Marca NVARCHAR(100) = NULL,
    @Modelo NVARCHAR(100) = NULL,
    @Medidas NVARCHAR(100) = NULL,
    @Capacidad NVARCHAR(100) = NULL,
    @CaracteristicaExtra NVARCHAR(200) = NULL
AS
BEGIN
    INSERT INTO Articulos (nombre, stock, subcategoria_id, ubicacion_id, marca, modelo, medidas, capacidad, caracteristica_extra)
    VALUES (@Nombre, @Stock, @subcategoriaId, @UbicacionId, @Marca, @Modelo, @Medidas, @Capacidad, @CaracteristicaExtra)
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerCatalogoUbicacion]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCatalogoUbicacion]
    @Tipo NVARCHAR(20)
AS
BEGIN
    IF @Tipo = 'Seccion'
        SELECT Id, Nombre FROM Secciones
    ELSE IF @Tipo = 'Estante'
        SELECT Id, Nombre FROM Estantes
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerStockActual]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerStockActual]
    @ArticuloId INT
AS
BEGIN
    SELECT Stock FROM Articulos WHERE id = @ArticuloId
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSubcategoriaPorId]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSubcategoriaPorId]
    @Id INT
AS
BEGIN
    SELECT Id, Nombre, Categoria_Id FROM Subcategoria WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSubcategoriasPorIdCategoria]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerSubcategoriasPorIdCategoria]
    @IdCategoria INT
AS
BEGIN
    SELECT Id, Nombre, Categoria_Id FROM Subcategoria WHERE Categoria_Id = @IdCategoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasCategorias]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodasLasCategorias]
AS
BEGIN
    SELECT Id, Nombre FROM Categoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasSubcategorias]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodasLasSubcategorias]
AS
BEGIN
    SELECT Id, Nombre, Categoria_Id FROM Subcategoria
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosArticulos]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosArticulos]
AS
BEGIN
    SELECT * FROM Articulos
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarArticuloExistente]    Script Date: 12/10/2025 11:09:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidarArticuloExistente]
    @Id INT = NULL,
    @Nombre NVARCHAR(100),
    @Marca NVARCHAR(100) = NULL,
    @Modelo NVARCHAR(100) = NULL,
    @Medidas NVARCHAR(100) = NULL,
    @Capacidad NVARCHAR(100) = NULL,
    @CaracteristicaExtra NVARCHAR(200) = NULL
AS
BEGIN
    SELECT TOP 1 'Exacto' AS TipoCoincidencia, Id
    FROM Articulos
    WHERE UPPER(Nombre) = UPPER(@Nombre)
      AND UPPER(ISNULL(Marca, '')) = UPPER(ISNULL(@Marca, ''))
      AND UPPER(ISNULL(Modelo, '')) = UPPER(ISNULL(@Modelo, ''))
      AND UPPER(ISNULL(Medidas, '')) = UPPER(ISNULL(@Medidas, ''))
      AND UPPER(ISNULL(Capacidad, '')) = UPPER(ISNULL(@Capacidad, ''))
      AND UPPER(ISNULL(caracteristica_extra, '')) = UPPER(ISNULL(@CaracteristicaExtra, ''))
      AND (@Id IS NULL OR Id <> @Id)

    UNION

    SELECT TOP 1 'Atributos' AS TipoCoincidencia, Id
    FROM Articulos
    WHERE ISNULL(Marca, '') = ISNULL(@Marca, '')
      AND ISNULL(Modelo, '') = ISNULL(@Modelo, '')
      AND ISNULL(Medidas, '') = ISNULL(@Medidas, '')
      AND ISNULL(Capacidad, '') = ISNULL(@Capacidad, '')
      AND ISNULL(caracteristica_extra, '') = ISNULL(@CaracteristicaExtra, '')
      AND (@Id IS NULL OR Id <> @Id)
END
GO
USE [master]
GO
